<header class="p-3 bg-dark text-white">
  <h3>Total Alerts Count {{ dataCount }}</h3>
</header>
<div class="subheader bg-light">
  <div class="filter-content d-flex flex-row">
    <label class="mt-2 p-1">Filters:</label>
    <div class="filters p-1 mr-auto">
      <span
        *ngFor="let filter of filters"
        class="badge badge-secondary badge-pill m-1 p-2"
        >{{ filter.property | formatCase }}: {{ filter.value }}
        <i class="bi bi-x-circle-fill" (click)="removeFilter(filter)"></i>
      </span>
    </div>
    <a
      href="#"
      *ngIf="filters && filters.length > 0"
      (click)="clearAllFilters($event)"
      class="mt-2 p-1"
      >Reset</a
    >
  </div>
</div>
<app-data-section
  [section]="key"
  *ngFor="let key of dataKeys"
></app-data-section>
